<div class="contenedor-principal">
    <h1>¡HAZ REALIDAD TUS DESEOS CON CADA ARTÍCULO EN TU CARRITO!</h1>

    <div class="contenedor-producto">
        <div class="producto-img">
            <img src="../../assets/images/maldito-corazon.png" />
        </div>
        <div class="producto-descripcion">
            <h2>ÁLBUM 2022</h2>
            <p class="titulo">CD - Mi Maldito Corazón -</p>
            <p class="artista">Cano Aguilar</p>
            <p class="precio">$499.00 MXN</p>
            <p class="detalle">Artículo Único</p>
            <img src="../../assets/images/heart.png" class="heart" />
            <p class="descripcion">En este álbum, Cano Aguilar nos sumerge en su mundo musical, explorando temas del
                corazón y las emociones</p>
            <p class="disponibilidad">¡Disponible ahora mismo!</p>
        </div>
    </div>
    <div class="contenedor-otros-productos">
        <div class="img1">
            <img src="../../assets/images/cano-aguilar-news.png">
        </div>
        <div class="img2">
            <img src="../../assets/images/cano-aguilar-la-hielera.png">
        </div>
        <div class="img3">
            <img src="../../assets/images/el-mil-amores.png">
        </div>
        <div class="img4">
            <img src="../../assets/images/maldito-corazon.png">
        </div>
    </div>
    <div class="opciones">
        <label for="cantidad">CANTIDAD:</label>
        <input type="number" id="cantidad" name="cantidad" value="1">
        <button class="comprar">Comprar ahora</button>
    </div>
</div>