header {
    background-color: #fe9800;
    color: #000;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 7vh;
}

.nav-link-lpm {
    display: flex;
    align-items: center;
    width: 6%;
    height: 6%;
    margin-right: 170px;
}

.logo-lpm {
    display: flex;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
    margin-left: 10% ;
}

.logo-lpm img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    gap: 80px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: Jura;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #fff;
}

.nav-link-shopping-car {
    max-width: 60%;
    min-height: 60%;
}
.shopping-car {
    display: flex;
    align-items: center;
}

.shopping-car img {
    width: 100%;
    height: 100%;
}

.nav-link-shopping-car:after {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #ffcc00;
    color: #333;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 16px;
}

.hamburger-button {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.hamburger-button img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.options-container {
    display: block !important;
    position: absolute;
    top: 100%;
    left: -60px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave y desplazada hacia abajo */
    z-index: 1;
    width: 120px; /* Ajusta el ancho según sea necesario */
    border: 3px solid #fe9800; /* Borde para definir el límite del modal */
    border-radius: 8px; /* Esquinas redondeadas */
    overflow: hidden; /* Asegura que los bordes redondeados se muestren correctamente */
}

.options-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000;
}

.options-container li a{
    color: #000;
}

.options-container li:last-child {
    border-bottom: none; 
}

a {
    cursor: pointer;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
}

.footer .container {
    max-width: 1200px;
}

.footer .row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .col-md-1 {
    justify-content: space-between;
    align-items: center;
    margin-left: 11vh;

}

.footer .col-md-2 {
    justify-content: space-between;
    align-items: center;
    margin-left: 10vh;
}

.footer .col-md-3 {
    justify-content: space-between;
    align-items: center;
    margin-left: 10vh;
}

.footer .col-md-4 {
    justify-content: space-between;
    align-items: center;
    margin-left: 10vh;
}

.footer .navegacion,
.footer .radio,
.footer .contacto,
.footer .redes-sociales {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .footer-list {
    list-style: none;
    padding: 0;
}

.footer .footer-list li {
    margin-bottom: 5px;
}

.footer .footer-list a {
    color: #fff;
    text-decoration: none;
}

.footer .footer-list a:hover {
    text-decoration: underline;
}

.footer .footer-social {
    margin-top: 20px;
    cursor: pointer;
}

.footer .footer-social li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 10px;
}

.footer .footer-social li a {
    color: #fff;
    font-size: 18px;
}

.footer .footer-social li a:hover {
    color: #ddd;
}

.suscribete,
.p-suscribete {
    color: #fe9800;
}

button {
    background-color: #fe9800;
    border: 2px solid #fe9800;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
}

input {
    border: 2px solid #000000;
    padding: 2px;
}

h2 {
    color: #fe9800;
    text-align: center;
}

.footer .copyright {
    background-color: #111;
    padding: 10px 0;
    text-align: center;
}

.active {
    color:#ffffff;
}