<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem class="slide" *ngFor="let slide of slides; trackBy: trackByFn">
    <img src="{{ slide.img }}" alt="{{ slide.alt }}">
  </div>
</ngx-slick-carousel>

<h1>ÁLBUMES</h1>
<ngx-slick-carousel class="albums" #slickModal="slick-carousel" [config]="albumConfig">
  <div ngxSlickItem class="album-img" *ngFor="let slide of albums; trackBy: trackByFn">
    <img src="{{ slide.img }}" alt="{{ slide.alt }}">
    <div class="album-button">
      <button>Escuchar ahora</button>
    </div>
  </div>
</ngx-slick-carousel>

<h1>LANZAMIENTOS</h1>
<ngx-slick-carousel class="releases" #slickModal="slick-carousel" [config]="releaseConfig">
  <div ngxSlickItem class="release-img" *ngFor="let slide of releases; trackBy: trackByFn">
    <img src="{{ slide.img }}" alt="{{ slide.alt }}">
    <div class="release-button">
      <p>$499.00</p>
      <button class="agregar">Agregar al carrito</button>
      <button class="comprar">Comprar ahora</button>
    </div>
  </div>
</ngx-slick-carousel>

<h1>NOTICIAS</h1>
<div class="news1">
  <div class="new-img">
    <img src="../../assets/images/elegantes-del-llano.png" />
  </div>
  <div class="new-text">
    <h2>ELEGANTES DEL LLANO</h2>
    <p>Son originarios de Monterrey, Nuevo León y con más de 25 años de carrera musical,
      la agrupación se dio a conocer como BANDA LOS GRANDES DE SINALOA,
      nombre con el que trabajaron hasta el año del 2019.</p>
  </div>
</div>
<div class="news2">
  <div class="new-img">
    <img src="../../assets/images/cano-aguilar-news.png" />
  </div>
  <div class="new-text">
    <h2>CANO AGUILAR</h2>
    <p>Él va escribiendo su propia historia, y su voz es el ingrediente principal que
      adereza cada una de las notas de las canciones que interpreta, Así es CANO AGUILAR
      quien el día de hoy nos presenta su nuevo EP “UNA VOZ QUE HARÁ HISTORIA”.</p>
  </div>
</div>
<div class="news3">
  <div class="new-img">
    <img src="../../assets/images/chayin-rubio.png" />
  </div>
  <div class="new-text">
    <h2>CHAYÍN RUBIO</h2>
    <p>Originario de Sinaloa, y con tan sólo 26 años de edad, CHAYÍN RUBIO es uno de los
      cantautores jóvenes más importantes de los últimos tiempos. Su voz es inconfundible,
      y su peculiar estilo lo han hecho el favorito de una nueva generación.</p>
  </div>
</div>
<div class="news4">
  <div class="new-img">
    <img src="../../assets/images/los-cuadra.png" />
  </div>
  <div class="new-text">
    <h2>LOS CUADRA</h2>
    <p>Denominados como “Las nuevas guitarras mágicas”, vuelven a la escena musical con
      una canción que estrenan el día de hoy en todas las plataformas digitales.</p>
  </div>
</div>