<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> 

<h1>Otros Artistas</h1>

<div class="card-deck">
    <div class="card">
    <img src="../../assets/images/elegantes-del-llano.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">ELEGANTES</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/el-bebeto-donde-estas.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">El BEBETO</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/donde-esta-tu-amor.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">SHAIRA</h2>
    </div>
    </div>
</div>


<div class="card-deck2">
    <div class="card">
    <img src="../../assets/images/los-cuadra.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">LOS CUADRA</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/la-ley-de-cupido.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">HUICHOL</h2>
    </div>
    </div>
    <div class="card">
    <img src="../../assets/images/amigos-con-derechos.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">ROMEO</h2>
    </div>
    </div>
</div>


</body>
</html>
