<h1>¡DESCUBRE NUESTROS PRODUCTOS!</h1>
<div class="store">
    <div class="store-img">
        <img src="../../assets/images/romeo-beltran.png" />
    </div>
    <div class="store-info">
        <div class="store-description">
            <h1 id="description1">ROMEO BELTRÁN</h1>
            <h2 id="description2">El Señorón</h2>
            <p>Romeo Beltrán "La Voz Más Brillante", es un cantautor originario de El Dorado, Sinaloa que inició su
                carrera
                en el 2010</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
        <div class="store-price">
            <p id="precio"> ̶$̶4̶4̶9̶.̶0̶0̶</p>
            <p id="precio-oferta">$250.00</p>
        </div>
    </div>
</div>

<div class="store-album-col1">
    <div class="store-album-img">
        <img src="../../assets/images/los-ramones-live-concert-1.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/el-bebeto-donde-estas.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/paraiso-en-vivo-power-duranguense.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
</div>

<div class="store-album-col2">
    <div class="store-album-img">
        <img src="../../assets/images/griss-romero-en-vivo.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/tu-falta-de-querer.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/donde-esta-tu-amor.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
</div>
<div class="store-album-col3">
    <div class="store-album-img">
        <img src="../../assets/images/amigos-con-derechos.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/sola-con-mi-soledad.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/los-sembradores.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
</div>
<div class="store-album-col4">
    <div class="store-album-img">
        <img src="../../assets/images/la-ley-de-cupido.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/los-primos-mx.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/quisiera-tenerte.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
</div>
<div class="store-album-col5">
    <div class="store-album-img">
        <img src="../../assets/images/cano-aguilar-la-hielera.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/mordidita-antidoto.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
    <div class="store-album-img">
        <img src="../../assets/images/tu-dama-de-hierro.png" />
        <div class="store-album-button">
            <p>$499.00</p>
            <button id="agregar">Agregar al carrito</button>
            <button id="comprar">Comprar ahora</button>
        </div>
    </div>
</div>