/* Establece el color del texto en blanco para todo el cuerpo del documento */
body {
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}
h2{
    text-align: center;
    color: orange;
    margin-bottom: 30px;
}

.lista li{
    margin-bottom: 15px;
}
/* Define un estilo para los elementos con la clase 'border', estableciendo el ancho al 50% */
.border {
    width: 50%;
}

/* Define un estilo para los elementos con la clase 'card-artista' */
.card-artista {
    /* Establece el ancho al 100% */
    width: 100%;
    /* Utiliza flexbox para alinear los elementos hijos horizontalmente */
    display: flex;
    margin-bottom: 40px;
}

/* Define un estilo para los elementos con la clase 'contenedor' */
.contenedor {
    /* Dibuja un borde naranja alrededor del elemento */
    border: 2px solid orange;
    /* Aplica un margen de 50 píxeles */
    margin: 50px;
}

/* Define un estilo para los elementos con el ID 'miImagen' */
#miImagen {
    /* Establece el ancho al 100% */
    width: 100%;
    /* Establece la altura automática */
    height: auto;
    /* Aplica márgenes específicos */
    margin: 4% -4% -4% 4%;
}

/* Define un estilo para los elementos con la clase 'artistas' */
.artistas {
    /* Aplica un margen superior de 25 píxeles */
    margin-top: 25px;
    /* Aplica un margen izquierdo de 4% */
    margin-left: 4%;
}
