<h1>ÉXITOS DE LOS ARTISTAS</h1>
<h2>¡ESCUCHALOS HOY!</h2>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/cano-aguilar-la-hielera.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>CANO AGUILAR</h1>
    <h2>CANTAUTOR</h2>
    <ul class="lista">
      <li><i class="bi bi-download"></i> ▶ ㅤ01 ㅤEl Chivo</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ02 ㅤUn puño De Tierra</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ03 ㅤSiete Lenguas</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ04 ㅤMis Tres Animales</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ05 ㅤY Por Esa Calle Vive</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ06 ㅤAviéntame</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ07 ㅤEl Tao Tao</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ08 ㅤCuatro Meses</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ09 ㅤLiborio Cano</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ10 ㅤLas Nieves De Enero</li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/chayin-rubio.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>CHAYÍN RUBIO</h1>
    <h2>CANTAUTOR</h2>
    <ul class="lista">
      <li><i class="bi bi-download"></i> ▶ ㅤ01 ㅤYa Me Enteré</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ02 ㅤSe Olvidó</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ03 ㅤSecuelas De Amor</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ04 ㅤNegocio Y Amistad</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ05 ㅤQuisiera Tenerte Así</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ06 ㅤTe He Prometido</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ07 ㅤDesde Que Llegaste</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ08 ㅤMentirosa</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ09 ㅤSi Me Dices Que Sí</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ10 ㅤHoy Se Va</li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/elegantes-del-llano.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>ELEGANTES DEL LLANO</h1>
    <h2>CANTAUTOR</h2>
    <ul class="lista">
      <li><i class="bi bi-download"></i> ▶ ㅤ01 ㅤSi Hablara La Luna</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ02 ㅤCanción Del Mariachi</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ03 ㅤPerfume De Gardenias</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ04 ㅤEl Necio</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ05 ㅤPor Infamias Del Destino</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ06 ㅤElla Me Dijo Que No</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ07 ㅤNi Dada La Quiero</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ08 ㅤSeis Pies Abajo</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ09 ㅤCaminos De La Vida</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ10 ㅤRosas Negras</li>
    </ul>
  </div>
</div>

<div class="card-artista">
  <div class="border">
    <div class="contenedor">
      <img id="miImagen" src="../../assets/images/tu-falta-de-querer.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="artistas">
    <div class="encabezados">

    </div>
    <h1>ALANA SOL</h1>
    <h2>CANTAUTORA</h2>
    <ul class="lista">
      <li><i class="bi bi-download"></i> ▶ ㅤ01 ㅤMi Problema</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ02 ㅤTu Falta De Querer</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ03 ㅤCelos</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ04 ㅤSin Ti</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ05 ㅤBajo El Sol</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ06 ㅤVolverte A Ver</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ07 ㅤDime</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ08 ㅤTú Y Yo</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ09 ㅤCautiva</li>
      <li><i class="bi bi-download"></i> ▶ ㅤ10 ㅤLuz De Luna</li>
    </ul>
  </div>
</div>