<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <h1>ÉXITOS DE LOS ARTISTAS</h1>
    <h2>ESCUCHALOS HOY!</h2>


  <div class="card-artista">
    <div class="border">
      <div class="contenedor">
          <img id="miImagen" src="../../assets/images/chayin-rubio.png" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="artistas">
      <div class="encabezados">
        
      </div>
      <h1>JOSS FAVELA</h1>
        <h2>CANTAUTOR</h2>
      <ul class="lista">
        <li><i class="bi bi-download"></i> 01 Cuando Fuimos Nada</li>
        <li><i class="bi bi-download"></i> 02 Me Hubieras Dicho</li>
        <li><i class="bi bi-download"></i> 03 Tu Aroma</li>
        <li><i class="bi bi-download"></i> 04 Te Dije</li>
        <li><i class="bi bi-download"></i> 05 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 06 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 07 Andar Contigo</li>
      </ul>
    </div>
  </div>

  <div class="card-artista">
    <div class="border">
      <div class="contenedor">
          <img id="miImagen" src="../../assets/images/elegantes-del-llano.png" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="artistas">
      <div class="encabezados">
        
      </div>
      <h1>JOSS FAVELA</h1>
        <h2>CANTAUTOR</h2>
      <ul class="lista">
        <li><i class="bi bi-download"></i> 01 Cuando Fuimos Nada</li>
        <li><i class="bi bi-download"></i> 02 Me Hubieras Dicho</li>
        <li><i class="bi bi-download"></i> 03 Tu Aroma</li>
        <li><i class="bi bi-download"></i> 04 Te Dije</li>
        <li><i class="bi bi-download"></i> 05 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 06 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 07 Andar Contigo</li>
      </ul>
    </div>
  </div>

  <div class="card-artista">
    <div class="border">
      <div class="contenedor">
          <img id="miImagen" src="../../assets/images/el-poder-de-la-musica.png" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="artistas">
      <div class="encabezados">
        
      </div>
      <h1>JOSS FAVELA</h1>
        <h2>CANTAUTOR</h2>
      <ul class="lista">
        <li><i class="bi bi-download"></i> 01 Cuando Fuimos Nada</li>
        <li><i class="bi bi-download"></i> 02 Me Hubieras Dicho</li>
        <li><i class="bi bi-download"></i> 03 Tu Aroma</li>
        <li><i class="bi bi-download"></i> 04 Te Dije</li>
        <li><i class="bi bi-download"></i> 05 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 06 La magia de tus ojos</li>
        <li><i class="bi bi-download"></i> 07 Andar Contigo</li>
      </ul>
    </div>
  </div>



</body>
</html>
