<h1>¡DISFRUTA DE LO NUEVO DE TUS ARTISTAS FAVORITOS!</h1>

<div class="container">
    <div class="release">
        <img src="../../assets/images/de-cantina-en-cantina.png" alt="la hielera">
        <div class="release-content">
            <h2>DE CANTINA EN CANTINA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/huele-a-peligro.png" alt="quisiera tenerte">
        <div class="release-content">
            <h2>HUELE A PELIGRO</h2>
            <p>SHAIRA</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/fantasia.png" alt="tu dama de hierro">
        <div class="release-content">
            <h2>FANTASIA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/amigos-con-derechos.png" alt="amigos con derechos">
        <div class="release-content">
            <h2>AMIGOS CON DERECHOS</h2>
            <p>ROMEO BELTRÁN</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/cano-aguilar-news.png" alt="una voz que hara historia">
        <div class="release-content">
            <h2>UNA VOZ QUE HARÁ HISTORIA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/el-bebeto-ft-luis-angel.png" alt="entre el amar y el querer">
        <div class="release-content">
            <h2>ENTRE EL AMAR Y EL QUERER</h2>
            <p>EL BEBETO FEAT. LUIS ANGEL</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/cano-aguilar-la-hielera.png" alt="la hielera">
        <div class="release-content">
            <h2>LA HIELERA</h2>
            <p>CANO AGUILAR</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/quisiera-tenerte.png" alt="quisiera tenerte">
        <div class="release-content">
            <h2>QUISIERA TENERTE</h2>
            <p>3BALLMTY</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

    <div class="release">
        <img src="../../assets/images/tu-dama-de-hierro.png" alt="tu dama de hierro">
        <div class="release-content">
            <h2>TU DAMA DE HIERRO</h2>
            <p>ALANA SOL</p>
            <div class="btn-container">
                <button class="btn">Escuchar ahora</button>
            </div>
        </div>
    </div>

</div>