h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2%;
}


.container {
    max-width: 100%;
    margin-left:3%;
    display: flex;
    flex-wrap: wrap;
}

.release {
    background-color: #000000;
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 350px;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
}

.release:hover {
    transform: translateY(-20px);
}

.release img {
    width: 100%;
    height: auto;
}

.release-content {
    padding: 20px;
    border: 2px solid #fe9800;
}

.release-content h2 {
    font-size: 20px;
    margin-top: 0;
    color: #fe9800;
    text-align: center;
}

.release-content p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.release-content .btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #fe9800;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fe9800;
}

@media only screen and (max-width: 768px) {
    h1 {
        text-align: center;
        margin-left: 9%;
        margin-right: 9%;
    }
    .container {
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        margin-right: 6%;
    }
}